<br /> 
<br /> 
					<div class="box-holder middle">
								<div class="box">
									<div class="top"></div>									
									<div class="label">									
										<h3>Newsletter</h3>																		
									</div>
									<div class="middle" id="newsletter">
										<div class="post">
											<p><span>Subscribe to our newsletter</span></p>
											<p>Praesent et ultrices turpis. Donec at est vel neque dictum aliquet.</p>
										</div>
										<div class="cl"></div>
										<form action="" method="post">
											<div class="field-holder"><input type="text" class="field" value="Your Email" title="Your Email" /></div>
											<div class="field-holder"><input type="text" class="field" value="Your Name" title="Your Name" /></div>
											<div class="submit-button"><input type="submit" value="Subscribe" /></div>
										</form>
										<div class="cl">&nbsp;</div>											
									</div>
									<div class="bottom"></div>
								</div>
							</div>