
body
{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 0.8em;

	background-color: GreenYellow;

}


#container
{

	width: 700px;

	margin: 10px auto;

}


#masthead
{

	text-align: center;

	width: 680px;

	border-top: 5px solid ForestGreen;

	border-right: 5px solid ForestGreen;

	border-bottom: 5px solid ForestGreen;

	border-left: 5px solid ForestGreen;

	background-color: LawnGreen;

}

#mast-right
{	
	margin-right: 0px;
	margin-left: auto;
	text-align: right;
	width: 200px;
}

#navigation
{
	text-align: left;

	float: left;

	width: 140px;

        height: 500px;

	margin-top: 10px;

	margin-bottom: 10px;



	border-top: 5px solid ForestGreen;

	border-right: 5px solid ForestGreen;

	border-bottom: 5px solid ForestGreen;

	border-left: 5px solid ForestGreen;

	background-color: LawnGreen;

}


#content
{

	float: left;

	width: 500px;

        height: 500px auto;

	margin-top: 10px;

	margin-bottom: 10px;

	margin-left: 20px;

        padding-left: 10px;

	border-top: 5px solid ForestGreen;

	border-right: 5px solid ForestGreen;

	border-bottom: 5px solid ForestGreen;

	border-left: 5px solid ForestGreen;

	background-color: Khaki;

}


#footer
{

	text-align: center;

	clear: both;

	width: 680px;

	padding-top: 5px;

	padding-bottom: 5px;

	border-top: 5px solid ForestGreen;

	border-right: 5px solid ForestGreen;

	border-bottom: 5px solid ForestGreen;

	border-left: 5px solid ForestGreen;

	background-color: LawnGreen;

}


#masthead h1
{

	color: DarkOliveGreen;

}

#masthead h3
{

	color: DarkCyan;

}





#navigation a
{

	color: Black;
	text-decoration: none;

	padding: 5px;

}

#navigation a:hover
{

	color: White;

	text-decoration: none;

	border: 1px solid Black;

	background-color: Black;

}



#content h1,h2,h3,h4,h5,h6
{

	color: Black;

}


#content img
{

	padding: 5px;

	border: 1px solid Black;

}



#footer p
{

	color: Black;

	margin-top: 5px;

}


#footer a
{

	color: Black;

	text-decoration: underline;

}

#footer a:hover
{

	color: White;
	text-decoration: none;
	background-color: Black;

}

#flash 
{
	width: 680px;
	border-top: 5px solid ForestGreen;

	border-right: 5px solid ForestGreen;

	border-bottom: 5px solid ForestGreen;

	border-left: 5px solid ForestGreen;
	
	margin-top: 10px;
	background-color: khaki;
}

.notice
{
	padding-left: 50px;
}

.notice p
{
	
	background-color: red;
}

.alert
{
	padding-left: 50px;
}
.alert p
{
	
	background-color: blue;
}