@font-face {
    font-family: 'ArialNarrow';
	src: url('<%= asset_path('arialnarrowmtstd-webfont.eot') %>');
	src: url('<%= asset_path('arialnarrowmtstd-webfont.eot?#iefixt') %>') format('embedded-opentype'),
         url('<%= asset_path('arialnarrowmtstd-webfont.woff') %>') format('woff'),
         url('<%= asset_path('arialnarrowmtstd-webfont.ttf')%>')  format('truetype'),
         url('<%= asset_path('arialnarrowmtstd-webfont.svg#ArialNarrowMTStdRegular')%>') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

html, body { height: 100%; }

body {
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
    color: #767676;
    background: #f5f5f5 url(images/body.jpg) repeat-x center 0;
    min-width: 994px;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover {}
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -61px; background: url(images/wrapper.png) repeat-x 0 152px; } 
#wrapper-bottom { background: url(images/wrapper-bottom.png) repeat-x 0 bottom; }

#wrapper-bottom2 { background: url(images/wrapper-bottom.png) repeat-2 0 bottom; }

.shell { width: 992px; margin: 0 auto; }

#header { background-color: ; position: relative; z-index: 5; padding: 7px 0 8px; }

#logo { margin-bottom: -60px; width: 400px; height: 80px; margin-top: 10px; float: left; background: url(images/logo5.png) no-repeat 0 0;  }
#logo a { display: block; text-indent: -4000px; }

#search { position: absolute; display: none; top: 1px; right: 6px; padding-right: 3px; width: 210px; background: url(images/search.png) no-repeat 0 0; }
#search .field { display: inline; float: left; padding: 5px 15px 4px; width: 99px; background: none; border: 0; }
#search .submit-button { display: inline; float: right; padding: 2px 0 8px; width: 38px; border: 0; background: 0; cursor: pointer; }
#search .retract-button { font-size: 0; line-height: 0; text-indent: -4000px; display: block; float: left; padding-left: 20px; width: 15px; height: 30px; background: url(images/retract-button.png) no-repeat 50% 50%; cursor: pointer; }

.search-expand { position: absolute; top: 1px; right: 5px; width: 58px; height: 30px; cursor: pointer; background: url(images/search-expand.png) no-repeat 0 0;  }

.shopping-cart { font-size: 14px; text-align: right; padding-right: 0px; color: #BDFFFF; font-family: 'Trebuchet MS', arial, helvetica, sans-serif; font-weight: bold; }
.shopping-cart span { padding-left: 17px; color: #064369; font-weight: normal; }
.shopping-cart a { color: #BDFFFF; padding-left: 17px; }
.shopping-cart a.cart { background: url(images/c1.png) no-repeat 0 80%; padding-left: 29px; }

span.label-left { display: block; float: left; width: 21px; height: 42px; background: url(images/label-left.png) no-repeat 0 0; }
span.label-right { display: block; float: left; width: 32px; height: 42px; background: url(images/label-right.png) no-repeat 0 0; }
.label-bg { display: inline; float: left; height: 42px; background: url(images/label-bg.png) repeat-x 0 0; }
.label { position: absolute; top: -15px; left: -7px; height: 42px; width: 203px; background: url(images/label.png) no-repeat 0 0; }
.label h3 { padding-left: 15px; display: inline; float: left; font-family: Arial, helvetica, sans-serif; font-size: 18px; color: #fff; font-weight: normal; line-height: 30px;  }

#nav-log { float: right; background-color:; position: relative; margin-top: -20px;}
#navigation { float: left; margin-top: -45px; background-color: ;}
#navigation ul li { list-style: none; display: inline; float: left;	font-weight: bold; line-height: 14px; padding-left: 10px; }
#navigation ul li a { color: #fff; }
#navigation ul li a:hover { color: #005388; text-decoration: none; }

.sep { padding-top: 55px; }
#content
{	padding: 46px 5px 14px;	margin-top: 10px; margin-bottom: 10px;
    margin-right: 10px; padding-left: 10px; padding-bottom: 10px; background-color:;
}


#login { margin-top: 30px; margin-left: 10px; float: right; background-color: ; }	
#register {  color: #064369; margin-top: -20px;}
#register p { font-size: 14px; float: right; padding-bottom: 10px; margin-top: 10px; }
/* tables */
.CSSTableGenerator {
    margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width:80%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.CSSTableGenerator tr:hover td{
	background-color:#e0e0e0;		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #ffffff 5%, #e0e0e0 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e0e0e0) ); 
	background:-moz-linear-gradient( center top, #ffffff 5%, #e0e0e0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e0e0e0");	background: -o-linear-gradient(top,#ffffff,e0e0e0);

	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #085db2 5%, #578fc6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #085db2), color-stop(1, #578fc6) );
	background:-moz-linear-gradient( center top, #085db2 5%, #578fc6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#085db2", endColorstr="#578fc6");	background: -o-linear-gradient(top,#085db2,578fc6);

	background-color:#085db2;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #085db2 5%, #578fc6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #085db2), color-stop(1, #578fc6) );
	background:-moz-linear-gradient( center top, #085db2 5%, #578fc6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#085db2", endColorstr="#578fc6");	background: -o-linear-gradient(top,#085db2,578fc6);

	background-color:#085db2;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.CSSTableGenerator dt:first-child {
	font-weight:bold;
	fond-size: 14px; 
	border-width:0px 0px 1px 1px;
}
/* end - TABLE */
.log-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.log-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.log-button:active {
	position:relative;
	top:1px;
}

.log-button2 {
	width: 50%;
	height: 80%;
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.log-button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.log-button2:active {
	position:relative;
	top:1px;
}

/* log-button3 */

.log-button3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.log-button3:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.log-button3:active {
	position:relative;
	top:1px;
}



/* end log-button3 */
/* Button */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.button:active {
	position:relative;
	top:1px;
}

.button2 {
	height: 50%;
	width: 50%;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}.button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.button2:active {
	position:relative;
	top:1px;
}

.button3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}.button3:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.button3:active {
	position:relative;
	top:1px;
}
/* end button */


#sort-nav { display: inline; position: absolute; top: 125px; left: 0; height: 42px; z-index: 50; }
#sort-nav ul { display: inline; float: left; padding-left: 13px; list-style: none; height: 42px; }
#sort-nav ul li { font-size: 16px; position: relative; display: inline; float: left; line-height: 32px; padding-right: 44px; }
#sort-nav ul li.last { padding-right: 19px; }
#sort-nav ul li a { position: relative; padding-right: 12px; font-weight: bold; color: #fff;}
#sort-nav ul li a.default { position: relative; padding-right: 12px; font-weight: bold; color: #fff; background: url(images/nav-item.png) no-repeat right 50%;}
#sort-nav .dd { display: none; position: absolute; z-index: 100; top: 30px; left: 0; width: 109px; background: #3a8cc0; }
#sort-nav .dd ul { float: none; }
#sort-nav .dd ul li { float: left;  background: none; padding: 0; width: 109px; }
#sort-nav .dd ul li a { display: block; padding: 0 0 0 15px; line-height: 25px; width: 95px; background: none; }

#main { position: relative; z-index: 1;}

#flash { 
	margin-top: 20px;
	border: 5px solid #00CCFF; 
	padding: 10px 5px 10px 5px; 
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

		
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #d9d9d9 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #d9d9d9 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #d9d9d9 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #f4f4f4 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #f4f4f4 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#flash .notice {
	margin: 5px 5px 5px 5px;
	padding: 0px;
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 10px;
	color: black;
}

#flash .alert {
	margin: 5px 5px 5px 5px;
	padding: 0px;
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 10px;
	color: red;
}
.rom { height: 50px; }
.rom2 { height: 20px; }

#order_new { background-color: ; color: black; }
.field {  margin-bottom: 10px; }
#order_new p { font-weight: bold; font-size: 18px;}
.field a { padding-left: 55px; text-decoration: underline; color: black; font-size: 18px;} 
.address { margin-bottom: 10px;  }
.address a { padding-left: 40px; text-decoration: underline; color: black; font-size: 18px; }
.field p { margin-bottom: 20px; }
.table1 { border: 1px solid; margin: 25px 50px 50px 25px; margin-right: auto; margin-left: auto; padding: 50px 50px 50px 50px; }
.field2 { float: right; position: relative; margin-right: 250px; margin-bottom: 20px;}

#product_fields { margin-left: 20px; margin-top: 20px; } 
#product_fields .fields { margin-bottom: 10px; font-size: 16px; font-weight: bold; }
#listing { background-color: ;}
.slider-holder { margin-top: -10px; margin-right: auto; margin-left: auto; position: relative; width: 875px; height: 410px; padding: 39px 33px 0 72px; background: url(images/slider_background.png) no-repeat 0 0; }
.promo { display: block; float: left; padding-top: 47px; width: 234px; height: 276px; }

#slider { display: inline; float: right; width: 627px; }
.jcarousel-container { position: relative; width: 620px; }
.jcarousel-clip { position: relative; width: 620px; overflow: hidden; }
.jcarousel-clip ul li { position: relative; width: 620px; height: 337px; }

.jcarousel-control { position: absolute; top: 436px; left: 40%; width: 0; }
.jcarousel-control a { font-weight: bold; color: #666666; display: block; float: left; padding: 4px 0 0 8px; height: 20px; width: 16px; background: url(images/slider-nav.png) no-repeat 0 -50000px;}
.jcarousel-control a:hover { background-position: 0 0; color: #000; text-decoration: none; }
.jcarousel-control a.active { background-position: 0 0; color: #000; }

.caption { position: absolute; right: -37px; top: 11px; padding-right: 45px; width: 350px;  }
.caption h2 {  padding-bottom: 7px; font-family: Arial, helvetica, sans-serif; font-style:none; font-size: 40px; line-height: 45px; color: #ffc000; text-align: right; letter-spacing: -1px; text-transform: uppercase; }
.caption p { text-align: right; font-size: 16px; font-weight: bold; color: #4c4c4c; line-height: 22px; letter-spacing: 1px; } 
.caption .text { width: 250px; display: inline; float: right; } 
.caption .buy-now { display: inline; float: right; margin-top: 9px; padding: 10px 0; background: url(images/buy-now.png) no-repeat 0 0; width: 172px; height: 89px; }
.caption .buy-now p { font-size: 30px; line-height: 33px;  color: #ffcc00; text-align: center;  }
.caption .buy-now p.price { font-size: 30px; padding: 8px 12px 0 0; text-align: right; }
.caption .buy-now p span { font-size: 50px; line-height: 52px; color: #fff; padding-bottom: 0; }
.caption p strike { color: #d80105; font-size: 24px; line-height: 28px; }




.products-holder { height: auto; position:relative; padding-bottom: 24px; margin-bottom: 30px; width: 981px; background: url(images/products-holder.png) repeat-2; }  
.products-holder h3 { min-width: 134px; }
.products-holder .top { height: 8px; line-height: 0; font-size: 0; background: url(images/products-top.png) no-repeat 0 0;  }
.products-holder .middle { padding: 12px 5px 10px 20px; background: url(images/products-middle.png) repeat-y center 0; }
.products-holder .bottom { height: 7px; line-height: 0; font-size: 0; background: url(images/products-bottom.png) no-repeat 0 bottom; }
.products-holder .best-sellers { padding-bottom: 5px; background: url(images/best-sellers.png) repeat-y center 0; }

#add2Cart { background-color: ; width: 135px; margin-left: auto; margin-right: auto; }
#cart { width: 900px; background-color: ; padding: 0px 0px 0px 0px; margin: 0px 0 0 0;}
.display-cart {  font-family: Arial, Helvetica, sans-serif;
	font-size: 18px; display: inline; float: left; margin: 0px 0 10px; 
	padding: 0px 15px 0 0; width: 223px; min-height: 100%; height: 500px;}
#product-wrapper { float: left; background-color:; height: 340px; width: 223px;}
.product { background: url(images/product.png) no-repeat 0 0; display: inline; float: left; margin: 5px 0 10px; padding: 30px 15px 0 0; width: 223px; height: 270px; background: url(images/product.png) no-repeat 0 0; }
.product .im2 { background-color: ; width: 185px; height: 152px; margin-right: auto; margin-left: auto   }
.product .im { display: block; margin-right: auto; margin-left: auto }
.product .desc { display: inline; float: left; padding-left: 20px; width: 111px; }
.product .desc p span { color: #000; }
.product .desc p.name { font-size: 14px; font-weight: bold; color: #056daf; }
.product .price-box { display: inline; float: right; margin-top: 3px; padding: 5px 13px 0 0; width: 73px; height: 58px; background: url(images/price-box.png) no-repeat 0 0; }
.product .price-box p { font-size: 18px; font-weight: bold; line-height: 24px; color: #024068; text-align: center; }
.product .price-box p sup { font-size: 12px; }
.product .price-box p.per-peace { font-size: 12px; color: #6acfff; }
.product .price-box p span.price { color: #fff; font-size: 24px; }

#item { width: 800px; background-color: ; height: 400px; }
#image { float: left; width: 400px; background-color: ; }
#title { padding-top: 60px; float: left; height: 200px; width: 200px; background-color: ;}
#title p{ font-size: 20px; margin-bottom: 40px;}

.title { padding-left: 20px;font-weight: bold;}
.quantity { padding-left: 140px; font-weight: bold; background-color: ; text-align: right; margin-right: 20px; }

.quantity .kil { text-align: center; }
.quantity p { margin-bottom: 12px; color: #767676; font-size: 14px; padding-right: 10px;}

#min { background-color: ; position: relative; margin-top: -20px; margin-right: 54px; }
#plus { background-color: ; position: relative; margin-top: -20px; margin-left: 50px; }
#area { background-color:; position: absolute; left: 830px;}
.remove { }

#price2{ width: 400px; font-weight: bold;
		padding-top: -40px;
		} 
#price2 p  { float: right; margin-bottom: 10px;
		color: #767676; padding-right: 10px; }

.w {
	text-decoration: underline;
	font-size: 16px; 
}

.w p { float: left; } 

.q { 
	margin-right: -50px;
    padding-top: 10px;
	font-size: 18px; 
}	
.q p { 
	font-size: 18px; 
	margin-bottom: 20px;
	position: relative;
	float: right; 
}	

.totalprice
{	
background-color: ;
margin-left: 300px; 
}

#cost { background-color: blue; margin-left: 50px; }
#sum1 {  padding-top: 15px; float: right; margin-left: 100px; width: 300px; border-top: 5px solid black; }

.ika {  float: left; width: 90px; }

.ika2 { float: right; width: 100px; text-align: right; font-weight: bold; }

#slick-login {
	position: absolute;
	padding-top: -50px;
	margin-left: -110px;
	margin-top: -75px;
	-webkit-animation: login 1s ease-in-out;
	-moz-animation: login 1s ease-in-out;
	-ms-animation: login 1s ease-in-out;
	-o-animation: login 1s ease-in-out;
	animation: login 1s ease-in-out;
}


#search-field  .text {
	margin-bottom: 10px;
	width: 80%;
	height: 30px;
	position: relative;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#admin { position: absolute; top: 85px; left: 300px; font-family: 'ArialNarrow', arial, sans-serif; } 

#admin h1 { font-size: 24px; color: #8B0000; font-weight: bold; text-decoration: underline; }

#checkout { width: 500px; float: right;  display: inline; margin-top: 20px; margin-right: 100px;}
#b1 { width: 125px;
	position: relative;	 float: right;
	margin-right: 60px; }
#b2 { width: 125px; float: right; margin-right: 10px;
	 position: relative; }
.scroll-pane { width: 929px; float: left; display: inline; height: 300px; overflow: auto; }
.horizontal-only { height: auto; max-height: 350px; }
.left-border { border-right: solid 1px #d3d3d3; width: 7px; height: 305px; float: left; display: inline; }
.right-border { border-left: solid 1px #d3d3d3; width: 4px; height: 305px; display: inline; float: left; }

.bottom-strip { width: 1000px;}
.bottom-strip .left { padding-bottom: 30px; background: url(images/box-holder-left.png) no-repeat 0 bottom; }
.bottom-strip .left .post { padding-left: 3px; width: 257px; }
.bottom-strip .middle { background: url(images/box-holder-middle.png) no-repeat 0 bottom; }
.bottom-strip .right { padding-right: 0; background: url(images/box-holder-right.png) no-repeat 0 bottom; }
.bottom-strip .right .post { display: inline; float: left; padding-left: 2px; width: 170px; }
.bottom-strip .right .post p{ line-height: 19px; }

.box-holder { position: relative;  padding-right: 33px; width: 305px; display: inline; float: left; padding-bottom: 24px; }

.box { width: 305px; }
.box p span { color: #006aad; line-height: 24px; }
.box .top { height: 8px; line-height: 0; font-size: 0; background: url(images/box-top.png) no-repeat 0 0; }
.box .middle { padding: 33px 18px 0 27px; min-height: 200px; background: url(images/box-middle.png) repeat-y 0 0; }
.box .bottom { height: 10px; line-height: 0; font-size: 0; background: url(images/box-bottom.png) no-repeat 0 0; }

.text-widget p { font-family: 'ArialNarrow', arial, sans-serif; font-size: 13px; color: #7f7f7f; line-height: 19px; }
.text-widget a.read-more { display: block; width: 75px; margin-top: 2px; padding: 10px 0 10px 25px; font-weight: bold; color: #006aad; background: url(images/read-more.png)  no-repeat 0 50%; }

#newsletter form { padding-top: 17px; width: 257px; }
#newsletter .submit-button { display: block; float: right; width: 120px; height: 39px; background: url(images/subscribe.png) no-repeat 0 0; }
#newsletter .submit-button input { padding: 10px 0 12px 18px; line-height: 19px; width: 120px; text-align: left; background: none; border: none; cursor: pointer; }
#newsletter .submit-button input { font-weight: bold; color: #fff; }
#newsletter .field-holder { margin-bottom: 6px; padding: 0 14px; width: 229px; background: url(images/field.png) no-repeat 0 0; }
#newsletter .field-holder input { border: none; background: none; padding: 6px 0 8px; width: 229px; }
#newsletter .field-holder input { font-size: 15px; font-weight: bold; line-height: 17px; color: #1fb0e2; }

#search-field { margin-top: 15px; width: 250px; display: block; top: 10px; background-color: ; float: right;}
#search-b { padding-top: 17px; width: 257px; }
#search-b .submit-button { display: block; float: right; width: 120px; height: 39px; background: url(images/subscribe.png) no-repeat 0 0; }
#search-b .submit-button p { margin-bottom: 20px; padding: 10px 0 12px 18px; line-height: 19px; width: 120px; text-align: left; background: none; border: none; cursor: pointer; }
#search-b .submit-button p { font-weight: bold; color: #fff; }
#search-b .field-holder { height: 40px; padding: 0 14px; width: 229px; background: url(images/field.png) no-repeat 0 0; }
#search-b .field-holder p { border: none; background: none; padding: 6px 0 8px; width: 229px; }
#search-b .field-holder p { font-size: 15px; font-weight: bold; line-height: 17px; color: #1fb0e2; }

.post-short .date-box { display: inline; float: right; padding: 11px 9px 6px 0; margin-top: 6px; width: 60px; background: url(images/date-box.png) no-repeat 0 0; }
.post-short .date-box p { color: #fff; text-align: center; font-size: 16px; font-weight: bold; line-height: 19px; }
.post-short .date-box p.date { font-size: 13px; padding-bottom: 4px; }
.post-short a.comments { display: block; width: 75px; margin-top: 8px; font-weight: bold; padding: 13px 0 10px 24px; color: #006aad; background: url(images/comments.png) no-repeat 0 50%; }

#footer-push { height: 61px; }
#footer { padding-top: 9px; height: 52px; background: url(images/footer.jpg) repeat-x center 0; } 
#footer a.footer-logo { display: block; float: right; padding-right: 5px; width: 186px; height: 35px; }
#bottom-nav { line-height: 14px; padding: 7px 0 0 7px;  }
#bottom-nav a { color: #83c0de; padding-right: 30px; }